/* @import '//at.alicdn.com/t/font_2722419_lzkiwm25emi.css'; */
@font-face {
  font-family: 'iconfont';  /* Project id 2722419 */
  src: url('//at.alicdn.com/t/font_2722419_lzkiwm25emi.woff2?t=1628068924653') format('woff2'),
       url('//at.alicdn.com/t/font_2722419_lzkiwm25emi.woff?t=1628068924653') format('woff'),
       url('//at.alicdn.com/t/font_2722419_lzkiwm25emi.ttf?t=1628068924653') format('truetype');
}

#xmind {
  border: 1px solid gold;
}

.g6-editable {
  border-radius: 4px;
  color: #333;
  word-break: break-all;
  position: absolute;
  will-change: transform;
  top: 0;
  left: 0;
  minHeight: 20px;
  background: #E2F0FE;
  width: auto;
  transform-origin: top left;
}

.g6-editable-label {
  outline: 0;
  height: auto;
  white-space: pre-wrap;
}