.g6-editable {
  border-radius: 4px;
  color: #333;
  word-break: break-all;
  position: absolute;
  will-change: transform;
  top: 0;
  left: 0;
  background: #E2F0FE;
  width: auto;
  transform-origin: top left;
}

.g6-editable-label {
  white-space: pre-wrap;
}

.g6-dom-align {
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: top left;
}

.ql-editor > p {
  margin: 0;
  padding: 0;
}

.ql-editor:focus-visible {
  outline: none;
  margin: 0;
  padding: 0;
  border: 0;
}

.ql-clipboard,.ql-hidden {
  display: none;
}
